.game-header {
    background-size: cover;
    height: 240px;

    > .game-header-title {
        width: 100%;
    }
}

// Accordion
.card-game .accordion-button {
    color: $light;
}

// betline

.betline {
    background-color: #0d1c29;
}

.right-facing-competitor {
    clip-path: polygon(0 0,calc(100% - 10px) 0,100% 50%,calc(100% - 10px) 100%,0 100%);
    flex: 1;
}

.left-facing-competitor {
    clip-path: polygon(10px 0,100% 0,100% 100%,10px 100%,0 50%);
    flex: 1;
}

@each $slug, $color in $game-colors {
    $linear-gradient: linear-gradient(90deg, $color 0, transparent 75%,transparent);

    .card-game[data-esport=#{$slug}] {

        // Header
        .game-header {
            background-image: url('/img/desktop/games/#{$slug}.png');

            > .game-header-title {
                background-image: $linear-gradient;
            }
        }
        // Header responsive img for multiple screens
        @media (max-width: 575.98px) {
            .game-header {
                background-image: url('/img/mobile/games/#{$slug}.png');
            }
        }

        // Nav indicator
        .nav-indicator .nav-link.active .indicator {
            background-color: $color;
        }

        // Accordion
        .accordion-button {
            background-image: $linear-gradient;

            &:focus {
                border-color: rgba($color, .12);
                box-shadow: 0 0 0 0.25rem rgba($color, .25);
            }

            &:not(.collapsed)::after {
                $accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
                background-image: escape-svg($accordion-button-icon);
            }
        }
    }
}

// confrontation-item
.confrontation-item:not(:last-child) {
    margin-bottom: .5rem;
}
.confrontation-team:hover {
    background-color: lighten($dark, 75%);
}
.confrontation-item > div:first-child {
    white-space: nowrap;
}

.confrontation-team {
    width: 0;
}

@media (max-width: 575.98px) {
    .span-overflow {
        width: 240px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
    }
}
