.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.feature-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #fff;
    border-radius: .75rem;
}

.icon-link {
    display: inline-flex;
    align-items: center;
}
.icon-link > .bi {
    margin-top: .125rem;
    margin-left: .125rem;
    transition: transform .25s ease-in-out;
    fill: currentColor;
}
.icon-link:hover > .bi {
    transform: translate(.25rem);
}

.rounded-5 { border-radius: 1rem; }

.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

@keyframes color-transition {
    0% {
        background-color: $third ;
        border-color: $third ;
    }
    33% {
        background-color: $secondary ;
        border-color: $secondary;
    }
    66% {
        background-color: $primary;
        border-color: $primary;
    }
    100% {
        background-color: $third;
        border-color: $third;
    }
}

.circle-animation {
    height: 18px;
    width: 18px;
    animation-name: color-transition;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
