.guest {
    background-color: $third;
    // background-image: url(/img/guest_background.jpg);
    // background-size: cover;

    display: flex;
    height: 100%;
    color: #fff;
}

.guest-content {
    margin: auto;
    max-width: 450px;
    padding: 15px;
    width: 100%;
}

.guest .card {
   // background-color: $primary !important;
}

.guest label {
    color: #fff;
}
