$blue-100:   #001540;
$blue-200:   #001C57;
$blue-300:   #00316E;
$blue-400:   #00224B;
$blue-500:   #001B3A;

$primary:    #254ee2;
$secondary:  #A226EE;
$third:      #35498E;
$fourth:     lighten($blue-200, 20%);

$success:    #198754;
$info:       #0dcaf0;
$warning:    #ffc107;
$danger:     #dc3545;
$light:      #f8f9fa;
$dark:       #212529;

$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "third":      $third,
    "fourth":     $fourth,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
);