// Color system

$primary:    #BB86FC;
$secondary:  lighten($primary, 8%);
$third:      #6d28d9;

$success:    #198754;
$info:       #0dcaf0;
$warning:    #ffc107;
$danger:     #dc3545;

$light:      #f8f9fa;
$dark:       #121212;
$dark-100:   lighten(#121212, 5%);

$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "third":      $third,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
    "dark-100":   $dark-100,
);

$counter-strike:    #6c9931;
$dota-2:            #ff404e;
$call-of-duty:      #1aa3a1;
$league-of-legends: #42e0e4;
$rainbow-6:         #aa80ff;
$rocket-league:     #33CCFF;
$valorant:          #fe4a6d;
$hearthstone:       #bf4c9f;
$starcraft-2:       #0084b2;
$overwatch:         #b26100;

$game-colors: (
    "counter-strike":       $counter-strike,
    "dota-2":               $dota-2,
    "call-of-duty":         $call-of-duty,
    "league-of-legends":    $league-of-legends,
    "rainbow-6":            $rainbow-6,
    "rocket-league":        $rocket-league,
    "valorant":             $valorant,
    "hearthstone":          $hearthstone,
    "starcraft-2":          $starcraft-2,
    "overwatch":            $overwatch,
);

// Body
//
// Settings for the `<body>` element.

$body-bg:                   $dark !default;
$body-color:                $light !default;

// Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-bg:                 rgba(#fff, 12%) !default;
$input-color:              $body-color !default;

$input-border-color:       $input-bg !default;
$input-focus-color:        $body-color;

$input-focus-border-color: $input-bg;
$input-box-shadow:         $input-bg !default;

// List group

// $list-group-color:            $gray-900 !default;
$list-group-bg:                  lighten($dark, 5%) !default;

$list-group-hover-bg:            lighten($dark, 12%) !default;

$list-group-active-color:        $light !default;
$list-group-active-bg:           $primary !default;
$list-group-active-border-color: $primary !default;

// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-bg:                    lighten($dark, 12%) !default;
$dropdown-border-color:          $primary !default;

$dropdown-link-color:            $light !default;
$dropdown-link-hover-color:      $light !default;
$dropdown-link-hover-bg:         $primary !default;

// Cards

$card-border-color:              lighten($dark, 5%) !default;
$card-bg:                        lighten($dark, 5%) !default;

// Accordion

$accordion-bg:                    lighten($dark, 5%) !default;
$accordion-button-active-bg:      lighten($dark, 5%) !default;
