// Color system
$blue-100:   #001540;
$blue-200:   #001C57;
$blue-300:   #00316E;
$blue-400:   #00224B;
$blue-500:   #001B3A;

// $primary:    #254ee2;
// $secondary:  #A226EE;
// $third:      #35498E;
$fourth:     lighten($blue-200, 20%);

$primary:    #35498E;
$secondary:  #35498E;
$third:      #6d28d9;
$fourth:     lighten($blue-200, 20%);

$success:    #198754;
$info:       #0dcaf0;
$warning:    #ffc107;
$danger:     #dc3545;

$light:      #f8f9fa;
$dark:       #212529;

$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "third":      $third,
    "fourth":     $fourth,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
);

// Body
//
// Settings for the `<body>` element.

$body-bg:                   #121212 !default;
$body-color:                $light !default;

// Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-bg:                 #373737 !default;
$input-color:              $body-color !default;

$input-border-color:       $input-bg !default;
$input-focus-color:        $body-color;

$input-focus-border-color: $input-bg;

// List group

// $list-group-color:       $gray-900 !default;
$list-group-bg:             #373737 !default;




// color: $list-group-color;
// background-color: $list-group-bg;

// border: $list-group-border-width solid $list-group-border-color;
// background-color: $list-group-active-bg;
// border-color: $list-group-active-border-color;
