@import './variables';
@import '~bootstrap/scss/bootstrap';
@import './card-game';
@import './guest';
@import './navbar';
@import './features';

body, html, #app {
    height: 100%;
}

.accordion-body {
    background-color: lighten($dark, 12%);
}

.form-control:-webkit-autofill,
.form-control:-webkit-autofill:hover,
.form-control:-webkit-autofill:focus,
.form-control:-webkit-autofill:active {
    box-shadow: 0 0 0 30px lighten($dark, 12%) inset;
    -webkit-box-shadow: 0 0 0 30px lighten($dark, 12%) inset;
    -webkit-text-fill-color: $light;
}

.nav-scroller {
    overflow-x: auto;
}

.nav-indicator {
    background-color: rgba($dark, .6);
}

.nav-indicator .nav-link {
    color: $light;
    cursor: pointer;
    padding: 0;

    span {
        display: block;
        width: 100%;
    }

    &.active {
        color: $light;
    }

    .indicator {
        height: 4px;
    }
}

/* width */
::-webkit-scrollbar {
    width: 4px;
    height: 1px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $dark;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $primary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $primary;
}
