@import './variables';
@import '~bootstrap/scss/bootstrap';
@import './guest';
@import './features';

body, html, #app {
    height: 100%;
}

.form-control:-webkit-autofill,
.form-control:-webkit-autofill:hover,
.form-control:-webkit-autofill:focus,
.form-control:-webkit-autofill:active {
    box-shadow: 0 0 0 30px #373737 inset;
    -webkit-box-shadow: 0 0 0 30px #373737 inset;
    -webkit-text-fill-color: azure;
}

.list-group-item {
    // background-color: #373737 !important;

    &.active {
        background-color: $primary !important;
        border-color: $primary !important;
    }
}

.dropdown-menu {
    background-color: #373737 !important;
    border-color: $primary !important;

    > .dropdown-item {
        color: $light;

        &:hover, &:focus {
            background-color: $primary;
            color: $light;
        }
    }
}

.card {
    background-color: #212121 !important;
    border-color: #212121 !important;
}

.navbar {
    background-color: #212121 !important;

    .dropdown-menu {
        right: 0;
        left: auto;
    }
}
