// $duration: .2s;
// $distance: 8px;
// $easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);

svg{
    transition: all 0.1s ease;
    &.csgo{
        fill: gray;
        &:hover{
            fill: #579e06;
        }
    }
    &.dota{
        fill: gray;
        &:hover{
            fill: #c80000;
        }
    }
    &.lol{
        fill: gray;
        &:hover{
            fill: #0b8adf;
        }
    }
    &.cd{
        fill: gray;
        &:hover{
            fill: #0544a8;
        }
    }
    &.valorant{
        fill: gray;
        &:hover{
            fill: #b90a30;
        }
    }
    &.r6{
        fill: gray;
        &:hover{
            fill: #adadad;
        }
    }
    &.rl{
        fill: gray;
        &:hover{
            fill: #0797da;
        }
    }
    &.starcraft{
        fill: gray;
        &:hover{
            fill: #02cbfd;
        }
    }
}

.game-scroller {
    background-color: $card-bg;
    border-radius: 10px;
    overflow-x: auto;
}

.game-scroller-element {
    position: relative;
    cursor: pointer;
}

.match-number {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    left: 60px;
}

.game-show-matches {
    background-color: $card-bg;
    width: 100%;
    border-radius: 10px;
}
.accordion-item-e-sport {
    width: 95%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    border-radius: 10px;
}
.card-wrapper {
    height: 150px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

// .underline-animation a {
//     color: $light;
//     position: relative;
//     text-decoration: none;
//     padding-bottom: 8px;

//     &:before,
//     &:after {
//       content: '';
//       position: absolute;
//       bottom: 2px;
//       left: 0; right: 0;
//       height: 2px;
//       background-color: $primary;
//     }
//     &:before {
//       opacity: 0;
//       transform: translateY(- $distance);
//       transition: transform 0s $easeOutBack, opacity 0s;
//     }
//     &:after {
//       opacity: 0;
//       transform: translateY($distance/2);
//       transition: transform $duration $easeOutBack, opacity $duration;
//     }
//     &:hover,
//     &:focus {
//         outline: none !important;
//       &:before,
//       &:after {
//         color: $primary !important;
//         opacity: 1;
//         transform: translateY(0);
//       }
//       &:before {
//         transition: transform $duration $easeOutBack, opacity $duration;
//       }
//       &:after {
//         transition: transform 0s $duration $easeOutBack, opacity 0s $duration;
//       }
//     }
// }

ul.nav-tabs {
    position: relative;
    top:-42px;
    border-bottom: 0px transparent;
    .nav-link {
        color:#fff;
        &.active, &:hover {
            color: $primary !important;
            background-color: transparent !important;
            border-color: transparent transparent $primary !important;
        }
    }
}

.arrow {
    cursor: pointer;
    height: 20px;
    transform: translateX(-50%) translateY(-50%);
    transition: transform .1s;
    width: 10px;

    $transition-time: .15s;

    &-top,
    &-bottom {
      background-color: #666;
      height: 4px;
      left: -5px;
      position: absolute;
      top: 50%;
      width: 100%;

      &:after {
        background-color: #fff;
        content: '';
        height: 100%;
        position: absolute;
        top: 0;
        transition: all $transition-time;
      }
    }

    &-top {
      transform: rotate(45deg);
      transform-origin: bottom right;

      &:after {
        left: 100%;
        right: 0;
        transition-delay: 0s;
      }
    }

    &-bottom {
      transform: rotate(-45deg);
      transform-origin: top right;

      &:after {
        left: 0;
        right: 100%;
        transition-delay: $transition-time;
      }
    }

    &:hover & {

      &-top:after {
        left: 0;
        transition-delay: $transition-time;
      }

      &-bottom:after {
        right: 0;
        transition-delay: 0s;
      }
    }

    &:active {
      transform: translateX(-50%) translateY(-50%) scale(0.9);
    }
}
