@font-face {
    font-family: 'YoutubeSansBlack';
    src: url(/fonts/YoutubeSansBlack.otf);
    weight: 900;
}
@font-face {
    font-family: 'YoutubeSansBold';
    src: url(/fonts/YoutubeSansBold.otf);
    weight: 800;
}
@font-face {
    font-family: 'YoutubeSansSemibold';
    src: url(/fonts/YoutubeSansSemibold.otf);
    weight: 700;
}
@font-face {
    font-family: 'YoutubeSansMedium';
    src: url(/fonts/YoutubeSansMedium.otf);
    weight: 500;
}
@font-face {
    font-family: 'YoutubeSansRegular';
    src: url(/fonts/YoutubeSansRegular.otf);
    weight: 600;
}