.guest {
    background-color: #0D0C28;

    display: flex;
    height: 100%;
    color: #fff;

    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active{
        background-color: #353740 !important;
        border-color: #C4C4C4 !important;
        color: #FFF;
        font-family: 'YoutubeSansSemibold';
        box-shadow: 0 0 0 30px #576D7B inset;
        -webkit-box-shadow: 0 0 0 30px #353740 inset;
        -webkit-text-fill-color: azure;
        background:#353740;
    }
}

.guest-content {
    margin: auto;
    max-width: 450px;
    padding: 15px;
    width: 100%;
}

.guest .card {
    background-color: #353740 !important;
    border-radius: 24px !important;
}

.guest input,
.guest input:focus {
    background-color: #353740 !important;
    border-color: #C4C4C4 !important;
    color: #FFF;
    font-family: 'YoutubeSansSemibold';
}


.guest label {
    color: #fff;
}

.guest {
    button {
        font-family: 'YoutubeSansSemibold';
    }
}

.forgot-text {
    p {
        font-family: YoutubeSansMedium;
        color: #fff !important;
    }
}

.card {
    h1 {
        font-family: 'YoutubeSansBold';
    }
}