h1 {
    color: #fff !important;
}

.profileCard {
    border-radius: 8px;
}

.profileCard label {
    color: #fff !important;
}
hr {
    color: #fff !important;
}

.dropdown-toggle::after {
    display: none;
}