h1 {
    color: #fff !important;
}

.profileSection {
    h2,
    p {
        color: #fff !important;
    }
    .profileCard {
        background-color: #344ead !important;
    }
}
.profileCard input
{
    background-color: #344ead !important;
    border-color: #a5a5a5 !important;
    color: #fff;
    box-shadow: 0 0 0 30px #576d7b inset;
    -webkit-box-shadow: 0 0 0 30px #35498E inset;
    background: #35498E;
    color: #fff !important;
}

.profileCard label {
    color: #fff !important;
}
hr {
    color: #fff !important;
}
